    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
     :root {
        --green: #528B37;
        --bg-grey: #F7F8F9;
        --darkblue: #37528B;
    }
    
    html {
        width: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    li,
    label,
    small,
    button {
        font-family: "Montserrat";
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 800;
        padding: 25px 10px;
    }
    
    p {
        padding: 20px 10px;
    }
    
    h1 {
        font-size: clamp(30px, 5vw, 50px);
    }
    
    h2 {
        font-size: clamp(25px, 4vw, 40px);
    }
    
    h3 {
        font-size: clamp(20px, 3vw, 35px);
    }
    
    h4 {
        font-size: clamp(18px, 2.5vw, 30px);
    }
    
    h5 {
        font-size: clamp(16px, 2vw, 20px);
    }
    
    h6,
    button {
        font-size: clamp(14px, 1.8vw, 17px);
    }
    
    p,
    a,
    li {
        font-size: clamp(14px, 1.5vw, 16px);
        line-height: 32px;
    }
    
    a {
        text-decoration: none;
    }
    /*
    .row {
        --bs-gutter-x: 0rem
    }*/
    /*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/
    /*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/
    /*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/
    
    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        width: 100%;
        height: 150px;
        background-color: #fff;
        z-index: 20;
        box-shadow: 10px 5px 5px rgb(192, 192, 192);
    }
    
    .navbar.simule {
        justify-content: center;
    }
    
    .navbar.simule .nav-logo {
        left: 5vw;
        top: 2vh;
        position: absolute;
    }
    
    .form-switch {
        display: flex;
        align-items: center;
        cursor: pointer !important;
        padding-left: 0em;
    }
    
    .form-check {
        min-height: 0rem;
        padding-left: 0em;
        margin-bottom: 0rem;
    }
    
    .form-check label {
        padding: 0 20px;
    }
    
    .logo-lndl {
        height: 100px;
        border-radius: 10px;
    }
    
    .nav-list {
        list-style-type: none;
    }
    
    .nav-list .list-item {
        display: inline-block;
        padding: 1vh 2.5vw;
    }
    
    .navbar a {
        color: #444;
        font-weight: 600;
    }
    
    .nav-list li.active {
        border-bottom: 5px solid var(--green);
    }
    
    .nav-list li.active a {
        color: var(--green);
    }
    
    .navbar a:hover {
        color: var(--green);
    }
    /*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */
    /*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */
    /*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */
    
    .btn-simuler {
        max-width: 250px;
        padding: 10px;
        background-color: var(--green);
        color: #fff !important;
        border: none;
        border-radius: 5px;
        align-items: center !important;
        text-align: center !important;
    }
    
    .btn-simuler:hover {
        animation: anim_btn 1s infinite alternate;
        text-decoration: none;
        color: #fff !important;
    }
    
    @keyframes anim_btn {
        from {
            box-shadow: 0 0 5px var(--green)
        }
        to {
            box-shadow: 0 0 15px var(--green)
        }
    }
    /* -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS --*/
    /* -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS --*/
    /* -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS -- -- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS ---- TOOLS --*/
    
    #overlay .row>* {
        margin: 0px;
        padding: 0px;
    }
    
    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 100;
        display: none;
    }
    
    .container-fluid {
        text-align: center;
    }
    
    .service-card {
        display: flex;
        justify-content: space-around;
    }
    
    #overlay .flip-card {
        background-color: transparent;
        width: 30vw;
        height: 50vh;
        max-width: 700px;
        max-height: 700px;
        min-width: 500px;
        min-height: 500px;
        perspective: 1000px;
        cursor: pointer;
    }
    
    #overlay .flip-card input[type="radio"] {
        visibility: hidden;
    }
    
    #overlay .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    #overlay .flip-card:hover .flip-card-inner {
        transform: rotateY(-180deg);
    }
    
    #overlay .flip-card-front,
    #overlay .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
        border-radius: 10px;
        background-color: var(--bg-grey);
        color: var(--green);
    }
    
    #overlay .flip-card-back {
        transform: rotateY(180deg);
        z-index: 0;
    }
    
    #overlay .flip-card-back ul li {
        font-size: clamp(16px, 2vw, 20px);
        font-weight: 600;
        padding: 15px 0;
    }
    
    .go-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 64px;
        height: 64px;
        overflow: hidden;
        top: 0;
        right: 0;
        background-color: var(--green);
        border-radius: 0 4px 0 64px;
    }
    
    .go-arrow {
        margin-top: -8px;
        margin-right: -8px;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
    
    .line {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        border: 5px solid var(--darkblue);
    }
    
    .slider {
        margin: 5vh auto;
        position: relative;
    }
    
    .slider .card {
        display: none;
        justify-content: space-around;
        align-items: center;
        min-height: 200px;
    }
    
    .slider .prev {
        position: absolute;
        left: 50px;
        top: 30%;
        z-index: 5;
        cursor: pointer;
    }
    
    .slider .next {
        position: absolute;
        right: 50px;
        top: 30%;
        z-index: 5;
        cursor: pointer;
    }
    
    .slider .card p {
        max-width: 750px;
        text-align: justify;
    }
    
    .slider .card.active {
        display: flex;
        animation: fade 0.8s;
    }
    
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /*--Sous Menu --*/
    
    @media all and (min-width: 1300px) {
        #sous-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 10;
        }
        #sous-menu ul {
            padding: 100px 0px;
            position: fixed;
        }
        #sous-menu ul li {
            padding: 10px;
            cursor: pointer;
            list-style: none;
            max-width: 155px;
        }
        #sous-menu ul li a {
            font-size: 0.8em !important;
            font-weight: bold;
            text-decoration: none;
            color: #000;
        }
        #sous-menu ul li:hover,
        #sous-menu ul li.active {
            border-left: 5px solid #00676C;
            color: #00676C;
        }
    }
    /* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/
    /* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/
    /* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/
    
    .container {
        margin: 0 auto;
        margin-top: 15vh;
        padding: 0;
        max-width: 1920px;
    }
    /* .bloc {
        height: 80vh;
    }*/
    /* 
    #home .bloc:first-child {
        background-color: var(--bg-grey);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
    
    #home .bloc:last-child {
        background-color: var(--bg-grey);
        border-top-left-radius: 50% 10%;
        border-top-right-radius: 50% 10%;
    }
    */
    
    .bloc .row {
        margin: 7vh auto;
        max-width: 100%;
        /* display: flex;*/
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #home .bloc .text {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #home .bloc .btn {
        width: 100%;
        line-height: 80px;
    }
    
    #home .bloc .image img {
        max-width: 100%;
        /*min-width: 250px;*/
        max-width: 650px;
    }
    
    @media all and (max-width: 1200px) {
        #bloc_1 {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            justify-content: center;
        }
        #bloc_1 .text {
            align-items: center;
        }
    }
    
    .bloc .case {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        min-height: 250px;
    }
    
    .bloc .case img {
        width: 64px;
    }
    /* .bloc div {
        margin: 10px auto;
    }*/
    
    .bloc .choice {
        background-color: var(--green);
        color: #fff;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        min-height: 200px;
        max-width: 350px;
        border-radius: 25px;
    }
    
    .bloc .service {
        background-color: #ccc;
    }
    
    .bloc .service {
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #home .bloc .flip-card {
        background-color: transparent;
        height: 350px;
        width: 100%;
        perspective: 1000px;
        cursor: pointer;
    }
    
    #home .bloc .flip-card-inner {
        position: relative;
        width: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    #home .bloc .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    #home .bloc .flip-card-front,
    #home .bloc .flip-card-back {
        position: absolute;
        width: 100%;
        height: 350px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #home .bloc .flip-card-front {
        background-color: #bbb;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #home .bloc .flip-card-back {
        background-color: var(--green);
        color: white;
        transform: rotateY(180deg);
    }
    
    .bloc .certif {
        margin: 10px auto;
        min-height: 150px;
    }
    
    .bloc .certif img {
        max-height: 100px;
    }
    
    .bloc .pole {
        max-width: 250px;
        min-height: 200px;
        padding: 25px;
        text-align: center;
    }
    
    .bloc .pole img {
        width: 100px;
    }
    
    .bloc .number p {
        font-size: 4em;
        font-weight: 700;
    }
    
    #services .bloc .tce {
        align-items: flex-start;
    }
    
    #services .bloc .tce ul li {
        text-align: center;
    }
    
    #services .tce ul {
        list-style: none;
    }
    
    #services .tce img {
        width: 100px;
    }
    
    #services .couverture {
        display: flex;
    }
    
    #services .couverture ul {
        min-width: 250px;
    }
    
    #qsn ul,
    #services ul {
        list-style: circle;
        max-width: 250px;
        margin: 0 auto;
    }
    
    #qsn ul li,
    #services ul li {
        text-align: left;
    }
    
    #qsn div .row {
        align-items: flex-start;
    }
    
    #aides .btn-simuler {
        border-radius: 15px;
        font-size: 1.5em;
        font-weight: 700;
        padding: 15px;
    }
    
    #aides ul {
        list-style: none;
        counter-reset: my-awesome-counter;
    }
    
    #aides ul li {
        counter-increment: my-awesome-counter;
        font-size: 1.5em;
        padding: 10px;
    }
    
    #aides ul li::before {
        content: counter(my-awesome-counter) ". ";
        color: #000;
        font-weight: bold;
    }
    
    ol.process-chart {
        color: #fff;
        counter-reset: item;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 0 0 1em;
        padding: 0;
    }
    
    ol.process-chart>li,
    ol.process-chart>li>div {
        position: relative;
    }
    
    ol.process-chart>li {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, transparent 25%);
        background-color: var(--green);
        counter-increment: item;
        flex-basis: 0;
        flex-grow: 1;
        margin: 1em 1em 1em -1em;
        min-width: 11.25em;
        padding: 1em 1em 1em 2em;
        height: 300px;
    }
    
    ol.process-chart>li:before,
    ol.process-chart>li>div:before {
        color: #fff;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }
    /*
ol.process-chart>li:before {
    content: 'Process';
    display: inline-block;
    font-weight: 300;
    left: 2em;
    letter-spacing: 0.1em;
    position: absolute;
    top: 1em;
    transform: rotate(90deg);
    transform-origin: 25% 50%;
}*/
    
    ol.process-chart>li:after {
        border-bottom: 1em solid transparent;
        border-left: 1em solid #fff;
        border-right: 0 solid transparent;
        border-top: 1em solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        right: -1em;
        top: 0;
        width: 0;
        z-index: 1;
    }
    
    ol.process-chart>li>div {
        padding: 0 0 0 1em;
    }
    
    ol.process-chart>li>div:before {
        content: counter(item, decimal-leading-zero);
        font-size: 3em;
        font-weight: 500;
        line-height: 1;
    }
    /*** PRIMARY ***/
    
    ol.process-chart>li:nth-of-type(6n+1) {
        background-color: #528B37;
    }
    
    ol.process-chart>li:nth-of-type(6n+1):after {
        border-left-color: #528B37;
    }
    /*** SECONDARY ***/
    
    ol.process-chart>li:nth-of-type(6n+2) {
        background-color: #1B8151;
    }
    
    ol.process-chart>li:nth-of-type(6n+2):after {
        border-left-color: #1B8151;
    }
    /*** TERTIARY ***/
    
    ol.process-chart>li:nth-of-type(6n+3) {
        background-color: #007564;
    }
    
    ol.process-chart>li:nth-of-type(6n+3):after {
        border-left-color: #007564;
    }
    /*** QUATERNARY ***/
    
    ol.process-chart>li:nth-of-type(6n+4) {
        background-color: #00676C;
    }
    
    ol.process-chart>li:nth-of-type(6n+4):after {
        border-left-color: #00676C;
    }
    /*** QUINARY ***/
    
    ol.process-chart>li:nth-of-type(6n+5) {
        background-color: #125767;
    }
    
    ol.process-chart>li:nth-of-type(6n+5):after {
        border-left-color: #125767;
    }
    /* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */
    /* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */
    /* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */
    
    .progressbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
    }
    
    .progressbar::before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 99%;
        background-color: #ccc;
    }
    
    .progress-step {
        position: sticky;
        width: 2.1875rem;
        height: 2.1875rem;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .progress-step .point {
        display: none;
    }
    
    .progress-step.active {
        border-color: var(--green);
    }
    
    .progress-step.active .point {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--green);
        border-radius: 50%;
    }
    
    .form-step {
        display: none;
        align-items: center;
        justify-content: space-around;
        animation: slideForm 2s;
    }
    
    @keyframes slideForm {
        from {
            opacity: 0;
            transform: translateX(50%);
        }
        to {
            opacity: 1;
        }
    }
    
    .form-step.active {
        display: flex;
    }
    
    .form-step h1 {
        padding: 5vh 0;
    }
    
    .form-step .case {
        border: 1px solid #ccc;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 30vh;
        max-width: 40vh;
        margin: 10px;
        cursor: pointer;
    }
    
    .form-step .case img {
        min-width: 100px;
        max-width: 200px;
        width: 100%;
    }
    
    .form-step input[type="checkbox"],
    .form-step input[type="radio"] {
        display: none;
    }
    
    .form-step :checked+label {
        background-color: #D0EDE8;
        transition: all .3s ease-in-out;
        transform: scale(1.025);
        border-width: 2px;
    }
    
    .form-step .invalid+label.picto,
    .form-step input.invalid,
    .form-step select.invalid {
        border: 1px solid red;
        transition: all .3s ease-in-out;
        transform: scale(1.025);
        border-width: 2px;
    }
    
    .form-step .valid+label.picto,
    .form-step input.valid,
    .form-step select.valid {
        border: 1px solid greenyellow;
        transition: all .3s ease-in-out;
        transform: scale(1.025);
        border-width: 2px;
    }
    
    .form-step .form-input {
        background-color: #F8F8F8;
        border-radius: 10px;
        padding: 5vw 10vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }
    
    .form-step .form-input label {
        font-weight: bold;
    }
    
    .btn-form-step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-form-step button {
        margin: 0 15px;
    }
    /*Footer  -- Footer  -- Footer  -- Footer  -- Footer  -- Footer  -- Footer  -- Footer*/
    
    footer {
        position: relative;
        margin: 0 auto;
        max-width: 1920px;
        background-color: #2A3342;
        color: #eee;
        padding-top: 5vh;
        bottom: 0px;
        z-index: 20;
    }
    
    footer .row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
    }
    
    footer .row .case {
        text-align: center;
    }
    
    footer p {
        font-size: 1.1em;
    }
    
    footer ul li {
        padding: 10px 0px;
    }
    
    footer a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1em;
    }
    
    footer a:hover {
        color: #eee;
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
    }