@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --green: #528B37;
    --bg-grey: #F7F8F9;
    --darkblue: #37528B;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label,
small,
button {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    padding: 25px 10px;
}

p {
    padding: 20px 10px;
}

h1 {
    font-size: clamp(30px, 5vw, 50px);
}

h2 {
    font-size: clamp(25px, 4vw, 40px);
}

h3 {
    font-size: clamp(20px, 3vw, 35px);
}

h4 {
    font-size: clamp(18px, 2.5vw, 30px);
}

h5 {
    font-size: clamp(16px, 2vw, 20px);
}

h6,
button,
.btn-simuler {
    font-size: clamp(14px, 1.8vw, 17px);
}

p,
a,
label,
li {
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: 32px;
}

a {
    text-decoration: none;
}


/*
.row {
   --bs-gutter-x: 0rem
}*/


/*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/


/*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/


/*-- MENU DESKTOP -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP -- -- MENU DESKTOP ---- MENU DESKTOP --*/

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 20;
    box-shadow: 10px 5px 5px rgb(192, 192, 192);
}

.navbar.simule {
    justify-content: center;
}

.navbar.simule .nav-logo {
    left: 5px;
    top: 5px;
    position: absolute;
}

.logo-lndl {
    height: 90px;
    border-radius: 10px;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 1vh 2.5vw;
}

.navbar a {
    color: #444;
    font-weight: 600;
}

.nav-list li.active {
    border-bottom: 5px solid var(--green);
}

.nav-list li.active a {
    color: var(--green);
}

.navbar a:hover {
    color: var(--green);
}


/*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */


/*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */


/*-- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS ---- LES BUTTONS -- */

.button-slider {
    background-color: #F8A912 !important;
}

.btn-simuler {
    max-width: 250px;
    padding: 10px;
    background-color: #357D94;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    align-items: center !important;
    text-align: center !important;
}

.btn-simuler:hover {
    animation: anim_btn 1s infinite alternate;
    text-decoration: none;
    color: #fff !important;
}

@keyframes anim_btn {
    from {
        box-shadow: 0 0 5px #357D94
    }
    to {
        box-shadow: 0 0 15px #357D94
    }
}


/* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/


/* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/


/* --CONTENT -- --CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT ----CONTENT --*/

#simulation {
    margin: 0 auto;
    margin-top: 15vh;
    padding: 0;
    max-width: 1920px;
}

.bloc {
    width: 80%;
    padding: 5vh 0;
    text-align: center;
    margin: 0 auto;
}


/* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */


/* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */


/* Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step -- Form-Step */

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.progressbar::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 99%;
    background-color: #ccc;
}

.progress-step {
    position: sticky;
    width: 2.1875rem;
    height: 2.1875rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step .point {
    display: none;
}

.progress-step.active {
    border-color: var(--green);
}

.progress-step.active .point {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--green);
    border-radius: 50%;
}

.form-step {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    animation: slideForm 2s;
    box-shadow: 0px 10px 30px rgba(53, 125, 148, 0.34);
    border-radius: 76px;
    padding: 50px 10px;
    margin: 30px auto;
}

@keyframes slideForm {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
    }
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #528B37
}

.form-step.active {
    display: flex;
}

.bloc h2 {
    color: #528B37 !important;
    font-weight: bold;
    line-height: 40px;
}

.bloc h5 {
    font-style: italic;
    line-height: 40px;
}

.form-step h2 {
    font-weight: bold !important;
    padding: 40px 0px !important;
    color: #357D94 !important;
}

.form-step .case {
    border: 1px solid #ccc;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    max-width: 400px;
    margin: 10px;
    cursor: pointer;
}

.form-step .case img {
    width: 90px;
    height: 90px;
}

.form-step input[type="checkbox"],
.form-step input[type="radio"] {
    display: none;
}

.form-step :checked+label {
    background-color: #D0EDE8;
    transition: all .3s ease-in-out;
    transform: scale(1.025);
    border-width: 2px;
}

.form-step .invalid+label.picto,
.form-step input.invalid,
.form-step select.invalid {
    border: 1px solid red;
    transition: all .3s ease-in-out;
    transform: scale(1.025);
    border-width: 2px;
    color: #444;
}

.form-step .valid:checked+label.picto,
.form-step input.valid,
.form-step select.valid {
    border: 1px solid greenyellow;
    transition: all .3s ease-in-out;
    transform: scale(1.025);
    border-width: 2px;
    color: #444;
}

.form-step .form-input {
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #444;
}

.form-step .form-input div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.form-step .form-input label {
    font-weight: bold;
}

.form-step input,
.form-step select {
    padding: 10px;
    font-size: 1.5em;
    background: #F8F8F8;
    border: 1px solid #357D94;
    border-radius: 15px;
    max-width: 500px;
    color: #444;
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
}

.btn-form-step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.btn-form-step button {
    margin: 15px;
    background-color: #357D94;
    font-size: 2em;
    font-weight: bold;
    padding: 12px;
    min-width: 200px;
    border-radius: 50px;
}

.isolation,
.chauffage,
.ventilation,
.tce {
    display: none;
}

.img-success {
    width: 150px;
}

#accept {
    display: flex;
}

.checkbox-accept {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .navbar.simule {
        display: flex;
        align-items: flex-end;
    }
    .bloc {
        width: 95%;
    }
    .title-step h4 {
        font-size: 12px;
    }
    .form-step {
        border-radius: 5px;
        padding: 10px;
    }
    .btn-form-step {
        display: block;
    }
}